#content
  padding-left: 2%
  padding-right: 2%

.codeTextarea
  min-height: 30px
  display: inline
  width: 30%

.root
  width: 100%
  display: inline-block

.operator
  width: 100%
  display: inline-block

.loadOptions
  height: 60vh
  overflow: auto

.simulationHeader
  width: 100%
  display: inline-block
  min-height: 30px

.simulationArea
  min-height: 30px

.simulationTimeWrapper
  display: inline-block
  min-height: 30px
  text-align: -webkit-center

.simulationValue
  min-height: 30px
  min-width: 80px
  max-width: 80px
  overflow: auto
  padding: 0px 2px 0px 2px
  display: table-cell

.loadOption
  display: inline-block
  padding-bottom: 5px
  width: 100%

.loadDescription
  width: 60%
  float: right
