body
  background: whitesmoke !important

#content
  padding-left: 2%
  padding-right: 2%
  margin-top: 5%

.recursiveContainer
  padding-left: 20px

.simpleOperatorArgumentsContainer
  width: initial
  display: inline-block

.codeTextarea
  min-height: 30px
  display: inline
  font-size: 14px
  width: 30%
  padding-left: 3px

.inputfunction
  min-width: 15em

.immutableCode
  font-size: 18px

.rootDescriptionContainer > .codeTextarea
  width: inherit

.simpleOperatorArgumentsContainer > .codeTextarea
  width: inherit

.rootSelect
  display: inherit
  font-size: 18px

.root
  width: 100%
  display: block
  padding-top: 5px
  padding-bottom: 5px

.rootDescriptionContainer
  width: initial
  display: inline-block
  align-items: center
  padding-right: 1px
  max-width: 60%

.operatorContainer
  width: initial
  padding-right: 1px
  max-width: 50%

.operator
  width: 100%
  display: inline-block

.loadOptions
  height: 60vh
  overflow: auto

.simulationHeader
  width: 100%
  display: inline-block
  min-height: 30px

.simulationArea
  min-height: 30px
  float: right
  white-space: nowrap
  margin-right: 10px

.simulationTimeWrapper
  display: inline-block
  min-height: 30px
  text-align: -webkit-center

::-webkit-scrollbar
  height: 1px
  width: 1px
  background-color: inherit

.simulationValue
  min-height: 30px
  min-width: 80px
  max-width: 80px
  overflow: auto
  padding: 0px 2px 0px 2px
  display: table-cell


.simulationComplete
  color: forestgreen
  font-weight: 600

.simulationError
  color: orangered
  font-weight: 600

.loadOption
  display: inline-block
  padding-bottom: 5px
  width: 100%

.loadDescription
  width: 60%
  float: right

#analyze
  margin-top: 5px
  margin-bottom: 5px

#play
  margin-top: 5px
  margin-bottom: 5px
  margin-bottom: 5px

#persistency
  margin-top: 5%
